
#button-2{
	background-color:white;
	color:grey;
}
#button-4{
	background-color:red;
	border-color:red;
}
#button-5{
	background-color:yellow;
	border-color:yellow;
	color:black;
}
#button-6{
	background-color:deepskyblue;
	border-color:deepskyblue;
	color:grey;
}
